
<%= form_with model:@user, url:user_path(current_user.id), class: 'registration-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      会員情報入力
    </h1>
  </div>

  <%= render 'shared/error_messages', model: @user %>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">ニックネーム</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"例) sense太郎", maxlength:"40" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">メールアドレス</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
  </div>
  
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">電話番号</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :telephone, class:"input-default", id:"telephone", placeholder:"例) 09012345678", maxlength:"11" %>
  </div>
  <%# ユーザー選択が芸人[1]の時のみ表示↓ %>  
  <% if current_user.user_check_id == 1 %>
    <div class="form-group" id="office">
      <div class='form-text-wrap'>
        <label class="form-text">所属事務所</label>
      </div>
      <%= f.collection_select(:office_id, Office.all, :id, :name, {},{class:"select-box"}) %>
    </div>
    <div class="form-group" id='career-year'>
      <div class='form-text-wrap'>
        <label class="form-text">芸人開始年</label>
      </div>
      <div class='input-birth-wrap'>
        <%= raw sprintf(
                    f.date_select(
                      :career,
                      discard_day: true,
                      discard_month: true,
                      class:'select-birth',
                      id:"career-date",
                      use_month_numbers: true,
                      prompt:'--',
                      start_year: 1960,
                      end_year: (Time.now.year - 0),
                      date_separator: '%s'),
                    "<p> 年 </p>" )  %>
      </div>
    </div>
  <% end %>
    <%# ユーザー選択が芸人[1]の時のみ表示↑ %>
    <div class="form-group" >
      <div class='form-text-wrap'>
        <label class="form-text">プロフィール</label>
      </div>
      <%= f.text_area :introduction, class:"intro-text", id:"introduction", placeholder:"（1000文字以内）", maxlength:"1000" %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">パスワード</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.password_field :password, class:"input-default", id:"password", placeholder:"6文字以上の半角英数字" %>
      <p class='info-text'>※英字と数字の両方を含めて設定してください</p>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">パスワード(確認)</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.password_field :password_confirmation, class:"input-default", id:"password-confirmation", placeholder:"同じパスワードを入力して下さい" %>
    </div>

  <div class='register-btn'>
    <%= f.submit "登録情報更新" ,class:"register-yellow-btn" %>
    <%= link_to "もどる", :back, class:"back-btn"%>
  </div>
  <p class='register-info'>本人情報の登録について</p>
</div>
<% end %>

<%= render "shared/second-footer"%>

