<%= render "shared/header" %>

<div class="separate">
  <div class="side-profile">
    <div class="user-nickname">
      <%= @user.nickname %> さん
    </div>
    <h2>プロフィール</h2>
    <div class="user-introduction">
      <%= @user.introduction%>
    </div>
    <div class="profile-edit-button">
      <% if user_signed_in? && current_user.id == @user.id%>
        <%= link_to "ユーザー情報編集", edit_user_path(current_user.id), method: :get, class:"user-edit" %>
      <% end %>
    </div>
  </div>

  <div class="items-area">
    <div class="user-items">
      <% if @user.user_check_id != 1 %>
        <p>お気に入り商品一覧</p>
      <% else %>
        <p>出品商品一覧</p>
      <% end %>
    </div>
  </div>
  
</div>
<%= render "shared/footer" %>