<%= render "shared/header" %>

<%# ログイン中ユーザーのuser_check_id=1の時のみ表示 %>
<% if user_signed_in? && current_user.user_check_id == 1 %>
  <%= link_to(new_item_path, class: 'purchase-btn') do %>
    <span class='purchase-btn-text'>出品する</span>
  <% end %>
<% end %>
<%# ログイン中ユーザーのuser_check_id=1の時のみ表示 %>

<div class="separate">
  <div class="side-profile">
    <div class="user-nickname">
      <%= @user.nickname %> さん
    </div>
    <h2>＜プロフィール＞</h2>
      <div class="talent-office">
        <%= @user.office.name%> 所属
      </div>
        <div class="talent-career">
        <%= @user.career%>結成（本当は〜年目と表示したい）
      </div>
      <div class="user-introduction">
        <%= @user.introduction%>
      </div>
      <div class="profile-edit-button">
        <% if user_signed_in? && current_user.id == @user.id%>
          <%= link_to "ユーザー情報編集", edit_user_path(current_user.id), method: :get, class:"user-edit" %>
        <% end %>
      </div>
  </div>

  <div class="items-area">
    <div class="user-items">
      <% if @user.user_check_id != 1 %>
        <p>お気に入り商品一覧</p>
      <% else %>
        <p>出品商品一覧</p>
          <ul class='item-lists'>
          <% @items.each do |item| %>
            <li class='list'>
              <%= link_to item_path(item.id), method: :get do %>
                <div class='item-img-content'>
                  <%= image_tag item.image, class: "item-img" %>

                  <% if item.nil? %>
                    <div class='sold-out'>
                      <span>Sold Out!!</span>
                    </div>
                  <% end %>

                </div>
              <% end %> 
              <div class="item-footer">
                  <h3 class='item-name'>
                    <%= item.name %>
                  </h3>
                <div class='star-money'>
                  <div class='item-price'>
                    <span>¥ <%= item.fee %>円</span>
                  </div>
                  <div class='star-btn'>
                    <%= image_tag "star.png", class:"star-icon" %>
                    <span class='star-count'>0</span>
                  </div>
                </div>
              </div>
            </li>
          <% end %> 
          <%# 商品がない時のみ表示 %>
          <% unless @items.present? %>
            <li class='list'>
              <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
              <div class='item-info'>
                <h3 class='item-name'>
                  販売可能な商品がありません。<br>
                  しばらくお待ちください。
                </h3>
              </div>
            </li>
          <% end %>
          <%# 商品がない時のみ表示 %>
        </ul>
      <% end %>
    </div>
  </div>
  
</div>
<%= render "shared/footer" %>