<%= render "shared/user_header" %>

<%# ログイン中ユーザーのuser_check_id=1の時のみ表示 %>
<% if user_signed_in? && current_user.user_check_id == 1 %>
  <%= link_to(new_item_path, class: 'purchase-btn') do %>
    <span class='purchase-btn-text'>出品する</span>
  <% end %>
<% end %>
<%# ログイン中ユーザーのuser_check_id=1の時のみ表示 %>

<div class="separate">
  <div class="side-profile">
    <div class="user-nickname">
      <%= @user.nickname %> さん
    </div>
    <h2>＜プロフィール＞</h2>
    <% if current_user.user_check_id == 1 %>
      <div class="talent-office">
        <%= @user.office.name%> 所属
      </div>
        <div class="talent-career">
        <%= @user.career%>結成（本当は〜年目と表示したい）
      </div>
    <% end %>
      <div class="user-introduction">
        <%= @user.introduction%>
      </div>
      <div class="profile-edit-button">
        <% if user_signed_in? && current_user.id == @user.id%>
          <%= link_to "ユーザー情報編集", edit_user_path(current_user.id), method: :get, class:"user-edit" %>
        <% end %>
      </div>
  </div>

  <div class="items-area">
    <div class="user-items">
      <% if @user.user_check_id != 1 %>
        <p>お気に入り商品一覧</p>
        <ul class='item-lists'>
          <% @user.like_items.each do |item| %>
            <li class='list'>
              <%= link_to item_path(item.id), method: :get do %>
                <div class='item-img-content'>
                  <%= image_tag item.image, class: "item-img" %>

                  <% if item.nil? %>
                    <div class='sold-out'>
                      <span>Sold Out!!</span>
                    </div>
                  <% end %>

                </div>
              <% end %> 
              <div class="item-footer">
                  <h3 class='item-name'>
                    <%= item.name %>
                  </h3>
                <div class='star-money'>
                  <div class='item-price'>
                    <span>¥ <%= item.fee %>円</span>
                  </div>
                  <%# いいね機能 非同期通信%>
                  <% if user_signed_in? %>
                    <% if current_user.id != item.user.id%>
                      <div class="heart-click" id="like_button_<%=item.id%>" >
                          <%= render partial: 'shared/like', locals:{item: item, like: @like} %>
                      </div>
                    <% else %>
                        いいね:<%= item.likes.count%>
                    <% end %>
                  <% else %>
                      いいね:<%= item.likes.count%>
                  <% end %>
                  <%# /いいね機能 非同期通信%>
                </div>
              </div>
            </li>
          <% end %> 
        </ul>
      <% else %>
        <p>出品商品一覧</p>
        <ul class='item-lists'>
          <% @items.each do |item| %>
            <li class='list'>
              <%= link_to item_path(item.id), method: :get do %>
                <div class='item-img-content'>
                  <%= image_tag item.image, class: "item-img" %>

                  <% if item.nil? %>
                    <div class='sold-out'>
                      <span>Sold Out!!</span>
                    </div>
                  <% end %>

                </div>
              <% end %> 
              <div class="item-footer">
                  <h3 class='item-name'>
                    <%= item.name %>
                  </h3>
                <div class='star-money'>
                  <div class='item-price'>
                    <span>¥ <%= item.fee %>円</span>
                  </div>
                  <%# いいね機能 非同期通信%>
                  <div class="heart-click" id="like_button_<%=item.id%>" >
                      <%= render partial: 'shared/like', locals:{item: item, like: @like} %>
                  </div>
                  <%# /いいね機能 非同期通信%>
                </div>
              </div>
            </li>
          <% end %> 
        </ul>
      <% end %>
    </div>
  </div>
  
</div>
<%= render "shared/footer" %>