<%= render "shared/header" %>
<div class='main'>

<%# ログイン中ユーザーのuser_check_id=1の時のみ表示 %>
<% if user_signed_in? && current_user.user_check_id == 1 %>
  <%= link_to(new_item_path, class: 'purchase-btn') do %>
    <span class='purchase-btn-text'>出品する</span>
  <% end %>
<% end %>
<%# ログイン中ユーザーのuser_check_id=1の時のみ表示 %>

  <%# senseの特徴 %>
  <div class='feature-contents'>
    <%= image_tag 'm1-9.png', class:"feature-pict" %>
    <div class="feature-words">
      <h2 class='title'>
        senseの特徴
      </h2>
      <ul class='feature-lists'>
        <li class='list'>
          <h3 class='feature-list-text'>
            芸人のセルフプロデュース商品をまとめて閲覧できる！
          </h3>
        </li>
        <li class='list'>
          <h3 class='feature-list-text'>
            購入者限定でメッセージカードが付いてくる！
          </h3>
        </li>
        <li class='list'>
          <h3 class='feature-list-text'>
            多彩なグッズから多才な芸人を見つけよう！
          </h3>
        </li>
      </ul>
    </div>
  </div>
  <%# /FURIMAの特徴 %>

  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>ピックアップカテゴリー</h2>
    <div class="subtitle">新着アイテム</div>
    <ul class='item-lists'>
      <% @items.each do |item| %>
        <li class='list'>
          <div class="item-talent">
            <%= link_to item.user.nickname, user_path(item.user.id), method: :get, class:"item-talent-name" %>
          </div>
          <%= link_to item_path(item.id), method: :get do %>
            <div class='item-img-content'>
              <%= image_tag item.image, class: "item-img" %>
              <%# 画像複数枚投稿時のコード？%>
              <%# item.images[1].each do |image|%>
                <%#= image_tag image, class: "images" %>
              <%# end %>

              <% if item.nil? %>
                <div class='sold-out'>
                  <span>Sold Out!!</span>
                </div>
              <% end %>
            </div>
          <% end %> 
          <div class="item-footer">
              <h3 class='item-name'>
                <%= item.name %>
              </h3>
            <div class='star-money'>
              <div class='item-price'>
                <span>¥ <%= item.fee %>円</span>
              </div>
              <div class='star-btn'>
                <%= image_tag "star.png", class:"star-icon" %>
                <span class='star-count'>0</span>
              </div>
            </div>
          </div>
        </li>
      <% end %> 
      <%# 商品がない時のみ表示 %>
      <% unless @items.present? %>
        <li class='list'>
          <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
          <div class='item-info'>
            <h3 class='item-name'>
              販売可能な商品がありません。<br>
              しばらくお待ちください。
            </h3>
          </div>
        </li>
      <% end %>
     <%# 商品がない時のみ表示 %>
    </ul>
  </div>
  <%# /商品一覧 %>
</div>

<%= render "shared/footer" %>